.Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 15vh;
    overflow-x: auto;
  white-space: nowrap;
  cursor: grab;
}
.image > img {
    width: 55px;
    animation: move 10s infinite linear;

}
.Container:active {
    cursor: grabbing; /* Fırlatma hərəkətində cursor dəyişir */
  }
@keyframes move {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }