@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

.paymentContainer {
    background-color: #E5EAF2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.paymentRow {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.paymentTitle {
    padding-bottom: 10px;
}

.paymentBox>form {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
}

.paymentBox > h2 {
    color: #003271;
}