:root{
    --body-bg-color: white;
    --header-button-bg-color: white;
}

[data-theme="dark"]{
    --body-bg-color: black;
    --header-button-bg-color: #32A4F6;
}

#root{
    background-color: var(--body-bg-color) !important;
}